
/* HTML  */

html, body {
    scroll-behavior: smooth;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Color Variables */
:root {
    /* Blues */
    --timbr-nav-blue: rgba(95, 119, 172, 0.8);
    --timbr-footer-blue: rgba(95, 119, 172, 0.6);
    --timbr-accent-blue: rgba(95, 119, 172, 0.7);
    --timbr-clear-blue: rgba(14, 110, 255, 0.5);
    --timbr-dark-blue: rgba(20, 0, 200, 0.3);

    /* Beige grays */
    --timbr-nav:rgba(229,222,207, 0.4);
    --timbr-footer: rgba(200, 173, 127, 0.7);

    /* Greens */
    --timbr-accent-green: rgba(128, 128, 0, 1);

    /* Darks */
    --timbr-body:rgba(246,238,227, 0.1);

    /* whites */
    --timbr-white-smoke: rgba(245,245,245, 0.2);
}

.timbr-border-color {
    border-color: var(--timbr-clear-blue) !important;
}

.timbr-accent-blue {
    background-color: var(--timbr-clear-blue) !important;
}
.timbr-accent-blue-bg {
    background-color: var(--timbr-clear-blue) !important;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--timbr-body);
}

hr {
    color: var(--timbr-clear-blue);
    margin: 0px !important;
}

/* Main  */

#timbr-main-h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.main-timbr {
    margin-top: 6rem;
    flex: 1;
    text-align: center;
   
    margin-bottom: 2rem;
}

.main-timbr-container {
    background-color: var(--timbr-nav);
    border-radius: 15px;
    padding: 2rem;
}

/* Nav */

.navbar-timbr-base {
    margin-bottom: 3rem;
    background-color: var(--timbr-white-smoke);
    /* backdrop-filter: blur(30px); /* Apply blur effect */
    /* -webkit-backdrop-filter: blur(10px);  */
    box-shadow: 0 0 10px rgba(0, 0, 0,0.7);
    font-weight: 500;
    font-size: large;
}

.navbar-timbr {
    background-color: var(--timbr-nav-blue);
    /* opacity: 0.9; */
    box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
    transition: all 0.7s ease-in-out;
}
#timbr-ul {
    width: 90%;

}



/* hero section css */

#hero-img {
    position: relative;
    background-image: url('https://teltonika-networks.com/cdn/extras/13407/org-iot-for-reducing-risks-in-construction-sites.webp');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 60vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Adjust text color as needed */
    text-align: center;
    
}

#hero-container {
    
    position: relative;
    z-index: 2; 
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 15px;
    
}

#hero-text-container {
    padding: 20px;
    border-radius: 10px;
}

#hero-text {
    animation: fadeIn 5s;
    
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  } 
  
  /* FOOTER */
  #timbr-footer {
        background-color: var(--timbr-nav-blue);
        /* position: fixed;
        bottom: 0;
        left: 0; */
        width: 100%;
        /* height: 10%; */
        padding: 0.2rem 0;
        text-align: center; /* Center the text */
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.4); 
        z-index: 1000; 
    }    
    
    
    /*  Testimonials */
    
    #timbr-slide {
        height: 15rem;
    }

    .carousel-indicators .active {
        background:  var(--timbr-clear-blue)
        !important;
    }
    
    #timbr-slide .carousel-indicators button {
       width: 10px;
       height: 10px;
       border-radius: 50%;
       border: 2px solid var(--timbr-footer);
       background: var(--timbr-body);
    }
  

/* Timbr valuse */



#circle-container {
    width: 15rem;
    height: 15rem;
    /* aspect-ratio: 1/1; */
    padding: 15px;
    border-style: solid;
    border-color: var(--timbr-footer);
    border-width: 3px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}    

#circle-cover-bg {
    background: url("../images/cyckel_parkering.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-size: contain;
}    



@media screen and (max-width: 767px) {
    .timbr-values-text {
        text-align: center !important;
        padding: 0 1rem !important;
    }     
}    

#timbr-value-left{
    opacity: 0;
}

.timbr-value-ani-left {
    
    animation: timbr-value-ani-left 3s forwards;
}    

@keyframes timbr-value-ani-left {
    0% { 
        opacity: 0;
        transform: translate(-70px, -20px); 
    }    
    100% { 
        opacity: 1;
        transform: translate(0px, 0px); 
    }    
  }  

  #timbr-value-right{
    opacity: 0;
    
}

.timbr-value-ani-right {
    animation: timbr-value-ani-right 3s forwards;
}    

@keyframes timbr-value-ani-right {
    0% { 
        opacity: 0;
        transform: translate(70px, 20px); 
    }    
    100% { 
        opacity: 1; 
        transform: translate(0px, 0px); 
    }    
  }  

/* Om oss  */

/* åkasjuketablett */
/* @media (prefers-reduced-motion: no-preference) {

#timbr-om-oss {
    scale: 0.7; opacity: 0;
    
    animation: om-oss-ani linear forwards;
    animation-timeline: view() ;
    animation-range: entry ;
}

@keyframes om-oss-ani {
    
    to { scale: 1 ; opacity: 1; }
}
} */

/* CONTACT Form section */  

#timbr-form {
    border-color: var(--timbr-footer);
    border-width: 3px;
}    

.form-control {
    border-color: var(--timbr-footer);
}    

.form-floating {
    position: relative;
    
}    

.icon {
    position: absolute;
    top: calc(50%);
    left: 1.25rem;
    z-index: 99;
}    

.icon-textarea {
    position: absolute;
    top: 2rem;
    left: 1.25rem;
    z-index: 99;
}    

.form-floating label, .form-floating .form-control {
    left: .5rem;
    padding-left: 3.5rem;
    
}    


#main-timbr-container-contact {
    height: 100%;
    background-image: url(../images/terrass_rund.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    

}

#timbr-contact-text {
    background-color: var(--timbr-white-smoke);
    
    border-radius: 15px;
    backdrop-filter: blur(1px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(1px); 
}


/* /* /* Media queries Club ethos */
/* @media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;


    }    

    #welcome {
        padding: 30px 0;
        margin: 0;


    }    
    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }    
    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    
    }    

}  */    



/* Gallery */

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: gray;
    
}

.inner-carousel {
    max-height: 100rem;
}

#timbr-gallery .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    background: var(--timbr-body);
    z-index: -1;
}



/* 404 */

#not-found-container {
    padding-top: 10rem;
    background-image: linear-gradient(red , white);
    border-bottom: 5px;
    
    
}

#error-img {
    background-image: url("/assets/images/peter_404.png");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    height: 50rem;
}